server:
  port: 1234

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/backend_concepts?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: test1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
#    database-platform: org.hibernate.dialect.MySQL8Dialect --- springboot 3 it is already detected

